#bg_screen{
    width: 100vw;
    height: auto;
}

#container{
    overflow: scroll;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.list_title{
    font-family: Helvetica, sans-serif;
    font-size: 2.3vw;
    text-align: center;
    width: 40%;
}

.list_title a{
    text-decoration: none;
    color: inherit;
}

.track_list {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    padding: 0px;
    margin: 1vh .3VW;
    font-size: 1.3vw;
    line-height: 1;
    overflow-y: scroll;
    max-height: 90vh;
}

.track_item{
    display: flex;
    min-height: 1.5em;
    flex-direction: row;
    align-items: center;
    margin-left: 3em;
}

@media screen and (max-width: 160vh){
    #bg_screen{
        width: 160vh;
        overflow: hidden;
    }
    #container{
        display: block;
        padding-bottom: 2rem;
    }
    .list_title{
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 6vw;
        width: auto;
    }
    .track_list{
        flex-wrap:nowrap;
        font-size: 3.6vw;
        margin: 1vh 1em;
        margin-bottom: 1vh;
        overflow-y:visible;
        max-height: none;
    }
    .track_item{
        margin-left: 0;
    }
    .title_container{
        max-width: none;
    }
}


.track_item a{
    color: inherit;
    text-decoration: none;
}

.id_container{
    display: inline-block;
    /* display: none; */
    min-width: 2em;
    text-align: right;
    margin-right: .2em ;
    /* align-self: stretch; */
    /* flex-shrink: 1; */
}

.title_container{
    display: inline-block;
    font-size: 100%;
    font-family: Helvetica, sans-serif;
    kerning: auto;
    padding: 0;
    margin: 0;
    /* max-width: 25em; */
}

.sub_container{
    display: inline-block;
    font-size: 70%;
    height: 1em;
    font-kerning: auto;
}

.title_container a{
    display: block;
    text-indent: -8px;
    padding-left: 8px;
}

.track_item:before, .track_item:after {
/* .title_container:before, .title_container:after{ */
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
    font-weight: 100;
}

.track_item:before {
/* .title_container:before{ */
	margin-right: 5px;
	content: '[';
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	transform: translateX(10px);
}

.track_item:after {
/* .title_container:after{ */
	margin-left: 13px;
	content: ']';
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	transform: translateX(-10px);
}

.track_item:hover:before, .track_item:hover:after, .track_item:focus:before, .track_item:focus:after {
/* .title_container:hover:before, .title_container:hover:after, .title_container:focus:before, .title_container:focus:after{ */
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}